.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    background-color: #003049;
    color: #fff;
    position: sticky;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .burger-menu {
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    gap: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu.open {
    display: flex;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
    }
    .menu.open {
      display: flex;
    }
  }
  